<form method="post" action="{{ path('app_solicitud_delete', {'id': solicitud.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ solicitud.id) }}">
    <button class="btn">Delete</button>
</form>
