{% extends 'base.html.twig' %}

{% block title %}New Solicitud{% endblock %}

{% block body %}
    <h1>Create new Solicitud</h1>

    {{ include('solicitud/_form.html.twig') }}

    <a href="{{ path('app_solicitud_index') }}">back to list</a>
{% endblock %}
